body{
    background-color: #212529;
    color: white;
}

h1{
    color: #2e933c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#date{
    color: #909590;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

ul {
    color: white;
    list-style-type: none;
}

.item {
    display: flex;
    border: 1px solid #909590;
    border-radius: 10px;
    padding: 5px 30px;
    margin: 20px auto;
    width: 50rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.fa-check-circle{
    color: #2e933c;
}

.de {
    color: red;
}

.fas{
    margin-right: 10px;
}

.fa-edit{
    color: #909590;
}

ul i:hover{
    cursor: pointer;
}

.lineThrough{
    text-decoration: line-through;
    color: #909590;
}

.inp{
    margin: 20px auto;
    width: 50rem;
    padding: 20px 40px;
}

#input{
    width: 39rem;
    height: 50px;
}

#add{
    border: none;
    height: 50px;
    width: 5rem;
    background-color: #2e933c;
}

ul li input[type=text] {
    display:none;
}

ul li.editMode input[type=text] {
    display:block;
}
  
ul li.editMode p {
    display:none;
}

.editMode .fa-edit{
    color: white;
}